@use 'variaveis';

.faq{
    padding: 5.6vw;

    h2{
        text-align: center;
        margin-bottom: 24px;
    }

    &__list{


        &__item{
            background-color: variaveis.$corBgFaqQuestion;
            margin-bottom: 16px;
            
            
            &__question{
                color:#fff;
                font-size: 20px;
                padding: 24px;
                display: block;
                cursor: pointer;
                position: relative;

                &::after{
                    content: '+';
                    position: absolute;
                    top: 0;
                    font-size: 40px;
                    right: 24px;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    font-size: 40px;
                }
            }

            &__answer{
                height: 0;
                overflow: hidden;
                padding: 0 24px;
                transition: height, .5s ease;

                p{
                    font-size: 16px;
                }

                ul{
                    margin-bottom: 0;
                    margin-top: 16px;
                    text-align: left;
                    padding-left: 40px;
                    list-style-type: disc;

                    li{

                        p{
                            margin-top: 20px;
                        }
                        
                    }
                    a{
                        text-decoration: none;
                        color: variaveis.$corTextoSecundario;
                        text-decoration: underline;
                    }
                }

            }

            &--is-active{
                .faq__list__item__question::after{
                        content: '-';
                        font-size: 60px;
                }


                .faq__list__item__answer{
                    height: auto;
                    padding: 0 24px 24px;
                    overflow:auto;
                    transition: height, .5s ease;
                }
            }
        }
    }
}