$corDeFundo: #040714;
$corTextoPrincipal: silver;
$corTextoSecundario: #f9f9f9;
$corDoButaoPrimario: #6421ff;
$corDoButaoPrimarioLight: #6928ff;
$corDoButaoSecundario: #0063e5;
$corDoButaoSecundarioLight: #0067ed;
$corDoButaoDark: #000;
$corBgFaqQuestion: #13151d;